! path logfile for this daemon (BGPD)
log file /var/log/quagga/bgpd.log

! the password to use for telnet authentication
password bgpuser

! this routers AS number and BGP ID
router bgp {{ asn }}
 bgp router-id {{ ip }}
 
{% for neighbor in neighbors %}
  neighbor {{ neighbor.ip }} remote-as {{ neighbor.asn }}
{% endfor %} 
 ! the network this router will advertise
 network {{network}}
